body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ng-dirty.ng-invalid{
  border-color: red;
}

.ng-dirty.ng-valid{
  border-color: green;
}

.vertical-align-middle {
    vertical-align: middle;
}

.truck-border {
    border: solid 1px;
    padding: 2px;
    margin: 2px;
}

.approved-driver {
    padding: 2px;
    margin: 2px;
}