.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ng-dirty.ng-invalid{
  border-color: red;
}

.ng-dirty.ng-valid{
  border-color: green;
}

.vertical-align-middle {
    vertical-align: middle;
}

.truck-border {
    border: solid 1px;
    padding: 2px;
    margin: 2px;
}

.approved-driver {
    padding: 2px;
    margin: 2px;
}

.angular-google-map-container {
    height: 400px;
    width: 100%;
    margin: 10px auto;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

#flash-messages {
  position: fixed;
  background-color: rgba(255, 191, 0, 0.75);
  padding: 5px 15px;
  display: inline-block;
  text-align: center;
  width: 200px;
  top: 50px;
  left: 50%;
  margin-left: -100px;
  border-radius: 5px;
  font-size: .7em;
}

#flash-remove{
  background-color : rgba(0, 0, 0, 0);
}