<div>
    <div class="row">
        <button type="submit" class="btn btn-default" ng-click="sendLogout()">Logout</button>
        <div class="col-sm-8">
            <p>Logged in as {{username | uppercase }} driving for {{company}}</p>
        </div>
    </div>

    <div class="row">
        <div class="btn-group col-sm-12" role="group">
          <button type="button" class="btn btn-default" ng-click="setButton(1)">Waste Collection</button>
          <button type="button" class="btn btn-default" ng-click="setButton(2)">Waste Disposal</button>
        </div>
    </div>
    <div class="row">
        <div ng-if="isButton(1)" class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <label for="Trucks">Truck Selection:</label>
                    <select class="form-control input-lg" ng-model="collection.selectedTruck" ng-options="truck.nickname+' ('+truck._id+') ' for truck in truckList"></select>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="mapOptions">
                        <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button ng-click="reloadCoordinates()">Reset Location</button>
                </div>
                <div class="col-sm-4">
                    Latitude: {{map.center.latitude}}
                </div>
                <div class="col-sm-4">
                    Longitude: {{map.center.longitude}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label for="address">Pickup Address:</label>
                    <input class="form-control input-lg" type="String" name="address" ng-model="collection.address"/>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label for="addressType" class="control-label">Address Type:</label>
                    <input class="input-lg vertical-align-middle" type="radio" ng-model="collection.addressType" name="addressType" value="residential" >Residential</input>
                    <input class="input-lg vertical-align-middle" type="radio" ng-model="collection.addressType" name="addressType" value="commercial" >Commercial</input>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label for="date">Date:</label>
                    <input class="form-control input-lg" type="datetime-local" name="datetime" ng-model="collection.date"/>
                </div>
            </div>
            
            <div class="row">    
                <div class="col-sm-12">
                    <label for="volume">Estimated Volume</label>
                    <input class="form-control input-lg" type="number" name="volume" ng-model="collection.volume"/>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <label for="type">Domestic or Grease?</label>
                    <select ng-model="collection.type" class="form-control input-lg">
                        <option value="domestic">Domestic</option>
                        <option value="grease">Grease</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button ng-click="submitPickup()">
                        Log Pickup
                    </button>
                </div>
            </div>
        </div>
        
        
        <div ng-if="isButton(2)" class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <label for="inprocessCollections">Pending Collections:</label>
                    <select class="form-control input-lg" ng-model="selectedPendingCollection" ng-options="col.location.address+' ('+col.volume+') ' for col in inprocessCollections"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label for="spreadSites">Approved Spread Sites:</label>
                    <select class="form-control input-lg" ng-model="selectedSpreadSite" ng-options="spreadSite.name+' ('+spreadSite.address+') ' for spreadSite in spreadSites"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button ng-click="discharge(selectedPendingCollection, selectedSpreadSite)">Discharge This Collection</button>
                </div>
            </div>
        </div>
    </div>
</div>