<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="btn btn-default navbar-btn navbar-left" ng-click="sendLogout()">Logout</button>
            <p class="navbar-text pull-right">{{username | uppercase}} ({{accountType | uppercase}})</p>
        </div>
    </div>
</nav>
<div>
    <div class="row">
        <div class="btn-group col-sm-12 spacer" role="group">
          <button type="button" class="btn btn-primary" ng-click="setButton(1)">User Management</button>
          <button type="button" class="btn btn-primary" ng-click="setButton(2)" ng-hide="accountType != 'admin'">Company Managment</button>
          <button type="button" class="btn btn-primary" ng-click="setButton(3)">Truck Managment</button>
          <button type="button" class="btn btn-primary" ng-click="setButton(4)" ng-hide="accountType != 'admin'">Spread Site Management</button>
          <button type="button" class="btn btn-primary" ng-click="setButton(5)">Collection Report</button>
          <button type="button" class="btn btn-primary" ng-click="setButton(6)">Spreadsite Report</button>
        </div>
    </div>
    <div ng-show="isButton(1)">
        <div class="col-sm-3">
            <form class="form-horizontal" name="user_form" novalidate>
                <div class="form-group">
                    <label for="username" class="control-label">Username: <span class="label label-warning" ng-hide="!user_form.username.$error.required">Required</span></label>
                    <div class="">
                        <input class="form-control input-lg" type="text" name="username" id="username" ng-model="userForm._id" ng-pattern="/^[a-z0-9]*$/" required/>
                    </div>
                </div>
                <div class="alert alert-danger" ng-show="user_form.username.$invalid && user_form.username.$dirty" role="alert">
                    <span class="error" ng-show="user_form.username.$error.pattern">Usernames can only contain lower case letters and numbers.</span>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password:</label>
                    <div>
                        <input class="form-control input-lg" type="password" name="password" ng-model="userForm.password" ng-pattern="/^[a-zA-Z0-9!@#$%^&*<>?]*$/"/>
                    </div>
                </div>
                <div class="alert alert-danger"  ng-show="user_form.password.$invalid && user_form.password.$dirty">
                    <span class="error" ng-show="user_form.password.$error.pattern">
                        Passwords can only contain the following:
                        <ul>
                            <li>Upper case letters</li>
                            <li>Lower case letters</li>
                            <li>Numbers</li>
                            <li>Allowed Characters: !@#$%^&*<>?</li>
                        </ul>
                    </span>
                </div>
                <div class="form-group">
                    <label for="usertype" class="control-label">User Type:<span class="label label-warning" ng-hide="!user_form.type.$error.required">Required</span></label>
                    <div class="">
                        <select class = "form-control input-lg" name="type" ng-model="userForm.type" required>
                            <option value="admin" ng-hide="accountType!='admin'">Admin</option>
                            <option value="contractor" ng-hide="accountType!='admin'">Contractor</option>
                            <option value="driver">Driver</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="company" class="control-label">Company:<span class="label label-warning" ng-hide="!user_form.company.$error.required">Required</span></label>
                    <div class="">
                        <select class="form-control input-lg" id="company" name="company" ng-model="selectedCompany" ng-options="company for company in companyList" required></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email Address:</label>
                    <div class="">
                        <input class="form-control input-lg" type="email" name="email" ng-model="userForm.email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="active" class="control-label">Active?<span class="label label-warning" ng-hide="!user_form.active.$error.required">Required</span></label>
                    <div class="">
                        <select class="form-control input-lg" name="active" ng-model="userForm.active" required>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <button ng-disabled="user_form.$invalid" type="submit" class="btn btn-block btn-success" ng-click="createUser()">Submit User</button>
                        <button type="submit" class="btn btn-block btn-info" ng-click="clearUserFields()">Clear Fields</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-9">
            <div>
                <input ng-model="userFilter" type="text" placeholder="Filter by Username">
            </div>
            <div ng-repeat="user in userList | filter:{ _id:userFilter} | orderBy: ['company.name', '_id']">
                <div class="row truck-border">
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-7"><label class="control-label">Username</label>: {{user._id}}</div>
                            <div class="col-sm-5"><label class="control-label">Company</label>: {{user.company.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7"><label class="control-label">Account Tpe</label>: {{user.type}}</div>
                            <div class="col-sm-5"><label class="control-label">Email</label>: {{user.email}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7"><label class="control-label">Active</label>: {{user.active}}</div>
                        </div>
                    </div>

                    <div class="col-sm-2 vertical-align-middle">
                        <button class="btn btn-block btn-info" ng-click="editUser(user)">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isButton(2)">
        <div class="col-sm-3">
            <form class="form-horizontal" name="company_form" novalidate>
                <br>
                <div class="form-group">
                    <label for="name" class="control-label">Company Name:</label>
                    <div>
                        <input class="form-control input-lg" type="text" name="name" ng-model="company.name" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="control-label">Phone Number:</label>
                    <div>
                        <input class="form-control input-lg" type="phone" name="phone" ng-model="company.phone" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="active" class="control-label">Active?</label>
                    <div>
                        <select class="form-control input-lg" ng-model="company.active" required>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button id="createCompany" type="submit" class="btn btn-block btn-success" ng-click="submitCompany()">Create Company</button>
                        <button id="updateCompany" type="submit" class="btn btn-block btn-success" ng-click="updateCompany()" disabled>Update Company</button>
                        <button type="submit" class="btn btn-block btn-success" ng-click="clearCompanyFields()">Clear Fields</button>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="col-sm-7">
            <div ng-repeat="company in companyList2 | orderBy: 'name'">
                <div class="row truck-border">
                    <div class="col-sm-10">
                        <div class="row">
                                <div class="col-sm-12"><label class="control-label">Company</label>: {{company.name}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7"><label class="control-label">Phone Number</label>: {{company.phone}}</div>
                                <div class="col-sm-5"><label class="control-label">Active</label>: {{company.active}}</div>
                            </div>
                    </div>
                    
                    <div class="col-sm-2 vertical-align-middle">
                            <button class="btn btn-block btn-info" ng-click="selectCompany(company.name)">Select</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isButton(3)">
        <div class="row">
            <div class="col-sm-3">
                <form class="form-horizontal" name="truck_form">
                    <div class="form-group" id="scrollhere">
                        <label for="company" class="control-label">Company:</label>
                        <div>
                            <select class="form-control input-lg" ng-model="selectedCompany" ng-options="company for company in companyList" required></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vin" class="control-label">VIN:</label>
                        <div>
                            <input class="form-control input-lg" type="text" name="vin" ng-model="newTruck.vin" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="capacity" class="control-label">Capacity:</label>
                        <div>
                            <input class="form-control input-lg" type="number" name="capacity" ng-model="newTruck.capacity"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="license" class="control-label">License Tag:</label>
                        <div>
                            <input class="form-control input-lg" type="text" name="license" ng-model="newTruck.license"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nickname" class="control-label">Nick Name:</label>
                        <div>
                            <input class="form-control input-lg" type="text" name="nickname" ng-model="newTruck.nickname"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="make" class="control-label">Make:</label>
                        <div>
                            <input class="form-control input-lg" type="text" name="make" ng-model="newTruck.make"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Model" class="control-label">Model:</label>
                        <div>
                            <input class="form-control input-lg" type="text" name="model" ng-model="newTruck.model"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="year" class="control-label">Year:</label>
                        <div>
                            <input class="form-control input-lg" type="number" name="year" ng-model="newTruck.year"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="color" class="control-label">Color:</label>
                        <div>
                            <input class="form-control input-lg" type="text" name="color" ng-model="newTruck.color"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="control-label">Status:</label>
                        <div>
                            <select class="form-control input-lg" ng-model="newTruck.stat">
                                <option value="active">Active</option>
                                <option value="out of service">Out of Service</option>
                                <option value="backup">Backup</option>
                                <option value="sold">Sold</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="driver" class="control-label">Approved Drivers:</label>
                        <div>
                            <div ng-repeat="driver in drivers">
                                <label class="checkbox" for="{{driver}}">
                                    <input type="checkbox" ng-model="approvedDrivers.usernames[driver]" name="{{driver}}" id="{{driver}}" />
                                    {{driver}}
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-block btn-success" ng-click="submitTruck()">Submit Truck</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-9">
                <div ng-hide="accountType != 'admin'">
                    <input ng-model="truckFilter" type="text" placeholder="Filter by Company Name">
                </div>
                <div ng-repeat="truck in trucks | filter:{ companyName:truckFilter} | orderBy: ['companyName', 'nickname']">
                    <div class="row truck-border">
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-12"><label class="control-label">Company</label>: {{truck.companyName}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3"><label class="control-label">Nick Name</label>: {{truck.nickname}}</div>
                                <div class="col-sm-5"><label class="control-label">VIN</label>: {{truck._id}}</div>
                                <div class="col-sm-2"><label class="control-label">Capacity</label>: {{truck.capacity}}</div>
                                <div class="col-sm-2"><label class="control-label">Tag</label>: {{truck.license}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3"><label class="control-label">Make</label>: {{truck.make}} </div>
                                <div class="col-sm-5"><label class="control-label">Model</label>: {{truck.model}} </div>
                                <div class="col-sm-2"><label class="control-label">Year</label>: {{truck.year}} </div>
                                <div class="col-sm-2"><label class="control-label">Color</label>: {{truck.color}} </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3"><label class="control-label">Status</label>: {{truck.stat}}</div>
                                <div class="col-sm-9"><label class="control-label">Approved Drivers: </label> <span class="approved-driver" ng-repeat="driver in truck.approvedDrivers">{{driver}}</span></div>
                            </div>
                        </div>
                        <div class="col-sm-2 vertical-align-middle">
                            <button class="btn btn-block btn-danger spacer" ng-click="deleteTruck(truck._id)">Delete</button>
                            <button class="btn btn-block btn-info" ng-click="selectTruck(truck._id)">Select</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isButton(4)">
        <div class="col-sm-3">
            <form class="form-horizontal" name="spreadsite_form">
                <div class="form-group">
                    <label for="name" class="control-label">Name:</label>
                    <div>
                        <input class="form-control input-lg" type="text" name="name" ng-model="spreadSiteForm.name" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="control-label">Address:</label>
                    <div>
                        <input class="form-control input-lg" type="text" name="address" ng-model="spreadSiteForm.address" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactname" class="control-label">Contact Name:</label>
                    <div>
                        <input class="form-control input-lg" type="text" name="contactname" ng-model="spreadSiteForm.contactName" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="control-label">Phone:</label>
                    <div>
                        <input class="form-control input-lg" type="text" name="phone" ng-model="spreadSiteForm.phone" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nitro" class="control-label">Nitrogen Demand:</label>
                    <div>
                        <input class="form-control input-lg" type="text" name="nitro" ng-model="spreadSiteForm.nitro" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="acres" class="control-label">Acreage:</label>
                    <div>
                        <input class="form-control input-lg" type="text" name="acres" ng-model="spreadSiteForm.acres" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="driver" class="control-label">Approved Companies:</label>
                    <div>
                        <div ng-repeat="company in approvedCompaniesList">
                            <label class="checkbox" for="{{company}}">
                                <input type="checkbox" ng-model="approvedCompanies.companies[company._id]" name="{{company}}" id="{{company}}" />
                                {{company.name}}
                            </label>
                        </div>
    
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-block btn-success" ng-click="submitSpreadSite()">Add/Update Spreadsite</button>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="col-sm-9">
            <div ng-repeat="spreadSite in spreadSites | orderBy: 'name'" >
                <div class="row truck-border">
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-6"><label class="control-label">Name</label>: {{spreadSite.name}}</div>
                            <div class="col-sm-6"><label class="control-label">Address</label>: {{spreadSite.address}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="control-label">Contact Name</label>: {{spreadSite.contactName}}</div>
                            <div class="col-sm-6"><label class="control-label">Phone</label>: {{spreadSite.phone}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="control-label">Nitrogen Demand</label>: {{spreadSite.nitro}}</div>
                            <div class="col-sm-6"><label class="control-label">Acreage</label>: {{spreadSite.acres}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><label class="control-label">Approved Companies: </label> <span class="approved-driver" ng-repeat="company in spreadSite.approvedCompanies">{{company.name}}</span></div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-block btn-info" ng-click="editSite(spreadSite)">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isButton(5)">
        <div class="row">
            <div class="col-sm-4">
                <div style="display:inline-block; min-height:290px;">
                    <label>Begin Date:</label>
                    <datepicker ng-model="report.beginDate" class="well well-sm"></datepicker>
                </div>
                <div style="display:inline-block; min-height:290px;">
                    <label>End Date:</label>
                    <datepicker ng-model="report.endDate" class="well well-sm"></datepicker>
                </div>
                <div>
                    <button class="btn btn-success btn-block spacer" type="submit" ng-click="refreshReport()">Get Collection Report</button>
                </div>
                <div>
                    <button id="collectionPDF" class="btn btn-info btn-block spacer" type="button" ng-click="genPDF('collectionsReport', collections)" disabled>Export PDF</button>
                </div>
                <div>
                    <button id="collectionCSV" class="btn btn-block btn-warning" type="button" ng-csv="collectionExport" csv-header="['Truck VIN','Latitude','Longitude','Company','Address','Volume','Type','Time']" filename="collectionReport.csv" ng-hide="accountType != 'admin'" disabled>Export to CSV</button>
                </div>
            </div>
            <div class="col-sm-8">
                <div id="collectionReport">
                    <div ng-repeat="collection in collections">
                        <div class="row truck-border">
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-4"><label class="control-label">Truck VIN</label>: {{collection.truckId}}</div>
                                    <div class="col-sm-8"><label class="control-label">Location</label>: Latitude: {{collection.location.latitude}} Longitude: {{collection.location.longitude}}</div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><label class="control-label">Company</label>: {{collection.companyName}}</div>
                                    <div class="col-sm-8"><label class="control-label">Address Visited</label>: {{collection.location.address}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2"><label class="control-label">Volume</label>: {{collection.volume}}</div>
                                    <div class="col-sm-2"><label class="control-label">Type</label>: {{collection.type}} </div>
                                    <div class="col-sm-8"><label class="control-label">Time</label>: {{collection.createdTimeStamp | date : 'medium' }} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div ng-show="isButton(6)">
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <label>Year</label>
                    <select class="form-control input-lg" ng-model="selectedYear" ng-options="year for year in yearList">
                    </select>
                </div>
                <div>
                    <label>Spreadsite:</label>
                    <select class="form-control input-lg" ng-model="selectedSpreadsite" ng-options="spreadsite.name for spreadsite in spreadSites">
                        <option value=""></option>
                    </select>
                </div>
                <br/>
                <div>
                    <button class="btn btn-success btn-block spacer" type="submit" ng-click="spreadsiteReport()">Get Spreadsite Report</button>
                </div>
                <div>
                    <button id="spreadsitePDF" class="btn btn-info btn-block" type="button" ng-click="genPDF('spreadCollections', spreadTotals)" disabled>Export PDF</button>
                </div>
            </div>
            <div class="col-sm-8">
                <div id="spreadReport">
                    <div ng-repeat="total in spreadTotals">
                        <div class="row">
                            <div class="col-sm-2 border"><label class="control-label">Total</label></div>
                            <div class="col-sm-2 border"><label class="control-label">Jan</label></div>
                            <div class="col-sm-2 border"><label class="control-label">Feb</label></div>
                            <div class="col-sm-2 border"><label class="control-label">March</label></div>
                            <div class="col-sm-2 border"><label class="control-label">Q1</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border offset">{{total.total}}</div>
                            <div class="col-sm-2 border offset">{{total.Jan}}</div>
                            <div class="col-sm-2 border offset">{{total.Feb}}</div>
                            <div class="col-sm-2 border offset">{{total.Mar}}</div>
                            <div class="col-sm-2 border offset">{{total.Q1}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border"><label class="control-label">Capacity</label></div>
                            <div class="col-sm-2 border"><label class="control-label">April</label></div>
                            <div class="col-sm-2 border"><label class="control-label">May</label></div>
                            <div class="col-sm-2 border"><label class="control-label">June</label></div>
                            <div class="col-sm-2 border"><label class="control-label">Q2</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border offset">{{total.cap}}</div>
                            <div class="col-sm-2 border offset">{{total.Apr}}</div>
                            <div class="col-sm-2 border offset">{{total.May}}</div>
                            <div class="col-sm-2 border offset">{{total.Jun}}</div>
                            <div class="col-sm-2 border offset">{{total.Q2}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border"><label class="control-label">Percent Left</label></div>
                            <div class="col-sm-2 border"><label class="control-label">July</label></div>
                            <div class="col-sm-2 border"><label class="control-label">Aug</label></div>
                            <div class="col-sm-2 border"><label class="control-label">Sept</label></div>
                            <div class="col-sm-2 border"><label class="control-label">Q3</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border offset">{{total.perLeft}}</div>
                            <div class="col-sm-2 border offset">{{total.Jul}}</div>
                            <div class="col-sm-2 border offset">{{total.Aug}}</div>
                            <div class="col-sm-2 border offset">{{total.Sep}}</div>
                            <div class="col-sm-2 border offset">{{total.Q3}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><label class="control-label"></label></div>
                            <div class="col-sm-2 border"><label class="control-label">Oct</label></div>
                            <div class="col-sm-2 border"><label class="control-label">Nov</label></div>
                            <div class="col-sm-2 border"><label class="control-label">Dec</label></div>
                            <div class="col-sm-2 border"><label class="control-label">Q4</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2 border offset">{{total.Oct}}</div>
                            <div class="col-sm-2 border offset">{{total.Nov}}</div>
                            <div class="col-sm-2 border offset">{{total.Dec}}</div>
                            <div class="col-sm-2 border offset">{{total.Q4}}</div>
                        </div>
                    </div>
                    <div ng-repeat="collection in spreadCollections">
                        <div class="row truck-border">
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-4"><label class="control-label">Spreadsite Name</label>: {{collection.spreadsiteName}}</div>
                                    <div class="col-sm-8"><label class="control-label">Location</label>: Latitude: {{collection.dischargeLocation.latitude}} Longitude: {{collection.dischargeLocation.longitude}}</div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><label class="control-label">Company</label>: {{collection.companyName}}</div>
                                    <div class="col-sm-8"><label class="control-label">Truck VIN</label>: {{collection.truckId}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3"><label class="control-label">Volume</label>: {{collection.volume}}</div>
                                    <div class="col-sm-3"><label class="control-label">Type</label>: {{collection.type}} </div>
                                    <div class="col-sm-6"><label class="control-label">Time</label>: {{collection.dischargeTimeStamp | date : 'medium' }} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <flash:messages ng:show="messages"></flash:messages>
</div>
