<div>
    <div class="row">
        <div class="col-sm-8">
            <p>Logged in as {{username | uppercase }} ({{accountType | uppercase}})</p>
        </div>
    </div>

    <div class="row">
        <div class="btn-group col-sm-8" role="group">
          <button type="button" class="btn btn-default" ng-click="setButton(1)">User Management</button>
          <button type="button" class="btn btn-default" ng-click="setButton(2)">Company Reports</button>
          <button type="button" class="btn btn-default" ng-click="setButton(3)">Spread Site Reports</button>
          <button type="button" class="btn btn-default" ng-click="setButton(4)">Spread Site Management</button>
        </div>
    </div>
    <div ng-show="isButton(1)">
        <form>
            <br>
            <div>
                <label for="Username">Username:</label>
                <input type="text" name="username" ng-model="newUser.username"/>
            </div>
            <br>
            <div>
                <label for="Password">Password:</label>
                <input type="text" name="password" ng-model="newUser.password"/>
            </div>
            <br>
            <div>
                <label for="usertype">User Type:</label>
                <select ng-model="newUser.type">
                    <option value="admin">Admin</option>
                    <option value="contractor">Contractor</option>
                </select>
            </div>
            <br>
            <div>
                <label for="email">Email Address:</label>
                <input type="text" name="email" ng-model="newUser.email"/>
            </div>
            <br>
            <div>
                <label for="active">Active?</label>
                <select ng-model="newUser.active">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>
            <div>
                <button type="submit" class="" ng-click="createUser()">Create User</button>
            </div>
        </form>
    </div>
    <div ng-show="isButton(2)">
        {{button}}
    </div>
</div>
